


@keyframes change{
    0%
    {
        background-image: url(/images/image);
    }
    25%
    {
        background-image: url(/images/image2);
    }
    50%
    {
        background-image: url(/images/image3);
    }
    75%
    {
        background-image: url(/images/image4);
    }
    100%
    {
        background-image: url(/images/image5);
    }
}